.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

.login {
  /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/
  background-color: rgb(44, 46, 39);
  width: 50%;
  //height: 60%;
  text-align: center;
}

.img-user {
  //width: 30%;
  height: 30%;
  max-height: 200px;
}

.password-label,
.user-label {
  width: 80%;
}

.login-btn {
  width: 80%;
  height: 15%;
  margin-bottom: 1rem;
}

.spinner-login {
  margin: 0 auto;
}
