.container {
    margin: 100px;
    margin-top: 5px;
}

table {
    width: 100%;
    margin-top: 10px;
}

.btn-list-user{
    text-align: right;
}

th {
    width: 20%;
}

section.btn-list-user a {
    cursor: pointer;
    margin: 3px;
    color: #838f7b;
}

.search-input {
    background-color: #838f7b;
}

/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }


.h2-no-data {
    color: black;
}